In [2]:
# Importing packages for data manipulation
import pandas as pd
import numpy as np

In [3]:
# Loading dataset into dataframe
df = pd.read_csv("C:/Users/catte/Downloads/Files/Files/waze_dataset.csv")

In [4]:
# Having a look and checking the info
df.head(10)

,ID,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
0,0,retained,283,226,296.748273,2276,208,0,2628.845068,1985.775061,28,19,Android
1,1,retained,133,107,326.896596,1225,19,64,13715.920550,3160.472914,13,11,iPhone
2,2,retained,114,95,135.522926,2651,0,0,3059.148818,1610.735904,14,8,Android
3,3,retained,49,40,67.589221,15,322,7,913.591123,587.196542,7,3,iPhone
4,4,retained,84,68,168.247020,1562,166,5,3950.202008,1219.555924,27,18,Android
5,5,retained,113,103,279.544437,2637,0,0,901.238699,439.101397,15,11,iPhone
6,6,retained,3,2,236.725314,360,185,18,5249.172828,726.577205,28,23,iPhone
7,7,retained,39,35,176.072845,2999,0,0,7892.052468,2466.981741,22,20,iPhone
8,8,retained,57,46,183.532018,424,0,26,2651.709764,1594.342984,25,20,Android
9,9,churned,84,68,244.802115,2997,72,0,6043.460295,2341.838528,7,3,iPhone

In [5]:
df.info

<bound method DataFrame.info of           ID     label  sessions  drives  total_sessions  \
0          0  retained       283     226      296.748273
1          1  retained       133     107      326.896596
2          2  retained       114      95      135.522926
3          3  retained        49      40       67.589221
4          4  retained        84      68      168.247020
...      ...       ...       ...     ...             ...
14994  14994  retained        60      55      207.875622
14995  14995  retained        42      35      187.670313
14996  14996  retained       273     219      422.017241
14997  14997   churned       149     120      180.524184
14998  14998  retained        73      58      353.419797

       n_days_after_onboarding  total_navigations_fav1  \
0                         2276                     208
1                         1225                      19
2                         2651                       0
3                           15                     322
4                         1562                     166
...                        ...                     ...
14994                      140                     317
14995                     2505                      15
14996                     1873                      17
14997                     3150                      45
14998                     3383                      13

       total_navigations_fav2  driven_km_drives  duration_minutes_drives  \
0                           0       2628.845068              1985.775061
1                          64      13715.920550              3160.472914
2                           0       3059.148818              1610.735904
3                           7        913.591123               587.196542
4                           5       3950.202008              1219.555924
...                       ...               ...                      ...
14994                       0       2890.496901              2186.155708
14995                      10       4062.575194              1208.583193
14996                       0       3097.825028              1031.278706
14997                       0       4051.758549               254.187763
14998                      51       6030.498773              3042.436423

       activity_days  driving_days   device
0                 28            19  Android
1                 13            11   iPhone
2                 14             8  Android
3                  7             3   iPhone
4                 27            18  Android
...              ...           ...      ...
14994             25            17   iPhone
14995             25            20  Android
14996             18            17   iPhone
14997              6             6   iPhone
14998             14            13   iPhone

[14999 rows x 13 columns]>

In [8]:
# Isolate rows with null values and check the summary of the rows
rows_with_null = df[df['label'].isnull()]
print("Rows with null values:")
rows_with_null.describe()

Rows with null values:

,ID,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days
count,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,7405.584286,80.837143,67.798571,198.483348,1709.295714,118.717143,30.371429,3935.967029,1795.123358,15.382857,12.125714
std,4306.900234,79.987440,65.271926,140.561715,1005.306562,156.308140,46.306984,2443.107121,1419.242246,8.772714,7.626373
min,77.000000,0.000000,0.000000,5.582648,16.000000,0.000000,0.000000,290.119811,66.588493,0.000000,0.000000
25%,3744.500000,23.000000,20.000000,94.056340,869.000000,4.000000,0.000000,2119.344818,779.009271,8.000000,6.000000
50%,7443.000000,56.000000,47.500000,177.255925,1650.500000,62.500000,10.000000,3421.156721,1414.966279,15.000000,12.000000
75%,11007.000000,112.250000,94.000000,266.058022,2508.750000,169.250000,43.000000,5166.097373,2443.955404,23.000000,18.000000
max,14993.000000,556.000000,445.000000,1076.879741,3498.000000,1096.000000,352.000000,15135.391280,9746.253023,31.000000,30.000000

In [11]:
#checking values with no nulls and checking their summary
not_null_df = df[~df['label'].isnull()]
print("summary statistics of non nul values"" ")
print(not_null_df)

summary statistics of non nul values
          ID     label  sessions  drives  total_sessions  \
0          0  retained       283     226      296.748273
1          1  retained       133     107      326.896596
2          2  retained       114      95      135.522926
3          3  retained        49      40       67.589221
4          4  retained        84      68      168.247020
...      ...       ...       ...     ...             ...
14994  14994  retained        60      55      207.875622
14995  14995  retained        42      35      187.670313
14996  14996  retained       273     219      422.017241
14997  14997   churned       149     120      180.524184
14998  14998  retained        73      58      353.419797

       n_days_after_onboarding  total_navigations_fav1  \
0                         2276                     208
1                         1225                      19
2                         2651                       0
3                           15                     322
4                         1562                     166
...                        ...                     ...
14994                      140                     317
14995                     2505                      15
14996                     1873                      17
14997                     3150                      45
14998                     3383                      13

       total_navigations_fav2  driven_km_drives  duration_minutes_drives  \
0                           0       2628.845068              1985.775061
1                          64      13715.920550              3160.472914
2                           0       3059.148818              1610.735904
3                           7        913.591123               587.196542
4                           5       3950.202008              1219.555924
...                       ...               ...                      ...
14994                       0       2890.496901              2186.155708
14995                      10       4062.575194              1208.583193
14996                       0       3097.825028              1031.278706
14997                       0       4051.758549               254.187763
14998                      51       6030.498773              3042.436423

       activity_days  driving_days   device
0                 28            19  Android
1                 13            11   iPhone
2                 14             8  Android
3                  7             3   iPhone
4                 27            18  Android
...              ...           ...      ...
14994             25            17   iPhone
14995             25            20  Android
14996             18            17   iPhone
14997              6             6   iPhone
14998             14            13   iPhone

[14299 rows x 13 columns]

In [15]:
#check the null values by device type

rows_with_null['device'].value_counts()

device
iPhone     447
Android    253
Name: count, dtype: int64

In [16]:
#calculate percentage of devices to the null values
rows_with_null['device'].value_counts(normalize=True)

device
iPhone     0.638571
Android    0.361429
Name: proportion, dtype: float64

In [18]:
#check retained vs churned 
retained_vs_churned=df['label'].value_counts()

label
retained    11763
churned      2536
Name: count, dtype: int64

In [19]:
#check %  of retained vs churned 
df['label'].value_counts(normalize=True)

label
retained    0.822645
churned     0.177355
Name: proportion, dtype: float64

In [20]:
# Calculate median values of all columns for churned and retained users
df.groupby('label').median(numeric_only=True)

,ID,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days
label,,,,,,,,,,,
churned,7477.5,59.0,50.0,164.339042,1321.0,84.5,11.0,3652.655666,1607.183785,8.0,6.0
retained,7509.0,56.0,47.0,157.586756,1843.0,68.0,9.0,3464.684614,1458.046141,17.0,14.0

In [23]:
#looking at the below, churned averaged 2.5 more driving hours and less usage of the app 
1607/60

26.783333333333335

In [24]:
1458/60

24.3

In [26]:
# Grouping data by `label` and calculating the medians
medians_by_label = df.groupby('label').median(numeric_only=True)
print('Median kilometers per drive:')
# Dividing the median distance by median number of drives
medians_by_label['driven_km_drives'] / medians_by_label['drives']

Median kilometers per drive:

label
churned     73.053113
retained    73.716694
dtype: float64

In [27]:
# Dividing the median distance by median number of driving days
print('Median kilometers per driving day:')
medians_by_label['driven_km_drives'] / medians_by_label['driving_days']
#here we can see that the median KM was more than double for people who churned

Median kilometers per driving day:

label
churned     608.775944
retained    247.477472
dtype: float64

In [29]:
# For each label, calculate the number of Android users and iPhone users
df.groupby(['label', 'device']).size()

label     device
churned   Android     891
          iPhone     1645
retained  Android    4183
          iPhone     7580
dtype: int64

In [30]:
# For each label, calculate the percentage of Android users and iPhone users
df.groupby('label')['device'].value_counts(normalize=True)

#we can see there is no correlation between device type and label, so the device is not the issue

label     device
churned   iPhone     0.648659
          Android    0.351341
retained  iPhone     0.644393
          Android    0.355607
Name: proportion, dtype: float64

Observing mainly the last couple of codes gives us data where even though the users churned from the WAZE app they made more KM and more driving hours than retained users while using the app half the time than retained users. There are some users which are driving high amounts of KM but the app doesnt meet their expectation, there is a good reason to investigate these drivers as they could get WAZE valuable inputs on how to retain more users and how to improve the customer experience for the retained users.
Device is not a factor since there is no correlation between devices and churned/retained so its pure user reasoning.